<h1>Welcome to Subject Stop Light</h1>

<h4>Here at gSchool, we want to make sure that we are teaching at the right pace.
  We created Project Stop Light to help us figure out where we are as a class and where you are as an individual.</h4>

<p><%= link_to "Subjects", subjects_path %></p>
